# environment
.env

# tools
.idea
*.iml
.aider*
cypress/downloads
cypress/screenshots

# dependencies
vendor
node_modules

# build
public/js/*

# data
data/*
!data/EXAMPLE/config.yaml
!data/EXAMPLE/logo.png
!data/EXAMPLE/i_will_be_moved.txt
!data/404.html
!data/500.html

# logs
/logs

# local conf
/conf/*.local.yaml

# export directory
/export
.aider*
