/**
 * Custom app styles
 */

.file-label {
    display: inline-block;
}

canvas {
    border: 1px solid black;
    background: #ffffff;
}

.fieldset-label {
    font-size: 20pt;
}

.checkbox {
    padding-left: 4px;
    padding-right: 4px;
}

.hidden {
    display: none;
}

/** Required so fieldsets dont destroy bulmas column system */
fieldset {
    display: contents;

}

.label {
    display: inline-block;
}

.tooltip-button {
    border: 0;

}
