/**
 * Custom app styles
 */

.file-label {
    display: inline-block;
}

canvas {
    border: 1px solid black;
    background: #ffffff;
}


.textarea {
    min-width: 0;
    width: 100%;
}

.fieldset-label {
    font-size: 20pt;
}

.checkbox {
    padding-left: 4px;
    padding-right: 4px;
}

fieldset {
    padding-bottom: 14px;
}

form {
    margin-bottom: 1.5rem;
}

select {
    width: 100%;
}
