/**
 * General
 */

.hidden {
    display: none;
}

fieldset .label {
    font-size: 1.25rem;
    font-weight: 500;
}

/**
 * Labels
 */
label.label-smaller,
div.label-smaller {
    font-weight: normal;
}

label.checkbox,
label.radio {
    margin-right: 0.5rem;
}

/**
 * Tables
 */
.table-container {
    width: 100%;
    overflow-y: auto;
    margin: 0 0 1em;
}

.table-container::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 14px;
    height: 14px;
}

.table-container::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 3px solid #fff;
    background-color: rgba(0, 0, 0, .3);
}

table {
    &.table {
        background-color: unset;
    }

    & label,
    & .label {
        display: none; /* hide labels */
    }
}

table tr th {
    min-width: 10rem; /* fields without labels are really narrow */
}

/** Required to preserve Bulma's column system */
checklist-component,
date-component,
datetime-component,
download-component,
dropdown-component,
email-component,
fieldset-component,
hr-component,
image-component,
markdown-component,
numberinput-component,
radioset-component,
signature-component,
table-component,
textarea-component,
textinput-component,
time-component,
upload-component,
fieldset {
    display: contents;
}

/**
 * Readonly field looking more like disabled ones,
 * simulate readonly look for inputs that have no HTML readonly attribute
 */
input[readonly], textarea[readonly] {
    background: var(--bulma-input-disabled-placeholder-color);
    cursor: not-allowed;
}

select.readonly-select {
    pointer-events:none;
    background: var(--bulma-input-disabled-placeholder-color);
}

.readonly-choices {
    pointer-events:none;
    opacity: 0.7;
}

/**
 * Errors
 */
form .has-errors {
    & input,
    & textarea,
    & select,
    & .signature-pad canvas {
        border-color: hsl(var(--bulma-danger-h),var(--bulma-danger-s),var(--bulma-danger-on-scheme-l));
    }

    & label,
    & .label,
    & option {
        color: hsl(var(--bulma-danger-h),var(--bulma-danger-s),var(--bulma-danger-on-scheme-l));
    }
}

/**
 ** Bulma overrides
 */
.select fieldset[disabled] select,
.select select[disabled],
[disabled].input,
[disabled].textarea,
fieldset[disabled] .input,
fieldset[disabled] .select select,
fieldset[disabled] .textarea {
    background-color: var(--bulma-input-disabled-placeholder-color);
}

/** Signature Pad  */
canvas {
    display: block;
    border-color: rgb(214, 217, 224);
    border-style: solid;
    border-width: 1px;
    border-radius: var(--bulma-input-radius);
    background: #ffffff;
}

/** Tooltips */
.label {
    display: inline-block; /* prevents line break between label and tooltip */
}

.control.with-tooltip {
    display: inline-flex;
    width: 100%;
    align-items: normal;
    align-content: baseline;

    & button {
        margin-left: 0.5rem;
    }
}

span.tooltip-hint,
span.modal-hint {
    position: relative;
    margin-left: 0.5rem;
    padding: 0.2rem 0.5rem;
    border: rgb(214, 217, 224) 1px solid;
    border-radius: 0.375rem;
    background: hsl(0, 0%, 96%);
    line-height: normal;
}

span.tooltip {
    /* basic styles for bubble */
    &:before, &:after {
        position: absolute;
        top: 50%; /* vertically center */
        transform: translateY(-50%);
        left: 100%; /* move to right */
        display: none;
    }

    /* tooltip box */
    &:before {
        content: attr(data-tooltip);
        margin-left: 0.5rem;
        width: 15rem;
        padding: 1rem;
        border-radius: 0.375rem;
        background: rgba(0, 0, 0, 0.8);
        color: #fff;
        text-align: center;
    }

    /* tooltip arrow */
    &:after {
        content: "";
        margin-left: -0.5rem;
        border: 0.5rem solid;
        border-color: transparent rgba(0, 0, 0, 0.8) transparent transparent;
    }

    &:hover:before, &:hover:after,
    &:focus:before, &:focus:after {
        display:block;
        z-index: 20;
    }
}

/**
 * Modals
 */
div.modal-content {
    width: unset;
    max-width: 75%;
}

/**
 * Tabs
 */

/* hide legends of first-level fieldsets so they don't duplicate tabs */
div.tabs-container fieldset:not(fieldset fieldset) legend {
    display: none;
}

/**
 ** Upload dropzone
 */
.dropzone {
    &.highlight {
        padding: 0.252rem;
        background-color: var(--bulma-info);
        border-radius: 0.25rem;
    }
}

/* some selects are empty (e.g. before activating conditional options) */
.select select {
    min-width: 10rem;
}
