{% from '_macros' import fileUrl , renderError %}
<div class="column {{ column is not empty ? column : 'is-full' }}">
    <hr style="{{ color is defined ? 'background-color:'~color~';' }} height:{{ height is defined ? height : 1}}px;"/>
</div>
