<div class="column {{ column is not empty ? column : 'is-full' }}">
    <div class="field is-spacer{{ double is not empty ? '-doublelabel' : '' }}">
        <label class="label">{{ label }}</label>
    </div>
</div>
